/* src/styles/Login.css */

.login-page {
  height: 100vh;
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fcciweb.org%2Fprograms-services%2Fdental-care%2F&psig=AOvVaw276UoSvJQeS6cp_3M6EKzL&ust=1751526420960000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOiIn8TOnY4DFQAAAAAdAAAAABAE') no-repeat center center;
  background-size: cover;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.login-card h2 {
  color: #007bff;
  font-weight: bold;
}
